<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Results</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <header class="header">
        <div class="logo">
            <img src="/static/logo.jpg" alt="PaperTechTrend Logo" />
        </div>
        <a href="/index.html">PaperTechTrend</a>
    </header>

    <section class="search-section">
        <h1 style="margin-bottom: 20px;">원하는 논문 자료를 검색하세요</h1>
        <div class="search-bar">
            <select id="search-type" style="padding-right: 10px;">
                <option value="keyword">키워드 검색</option>
                <option value="sentence">구어체 검색</option>
            </select>
            <input type="text" id="search-input" placeholder="원하는 논문 자료의 키워드를 입력하세요." />
            <button type="button" id="search-button">검색</button>
        </div>
    </section>

    <section class="search-results">
        <h1>Search Results</h1>
        <% if (resultCode===200) { %>
            <ul>
                <% data.forEach(paper=> { %>
                    <li>
                        <h2>
                            <%= paper.title %>
                        </h2>
                        <p><strong>Authors:</strong>
                            <%= paper.authors.join(', ') %></p>
                        <p><strong>Summary:</strong> <%= paper.summary %></p>
                        <p><strong>Published:</strong> <%= paper.published %></p>
                        <p><strong>Category:</strong> <%= paper.category %></p>
                        <a href="<%= paper.direct_link %>">Direct Link</a>
                        <a href="<%= paper.pdf_link %>">PDF Link</a>
                    </li>
                <% }) %>
            </ul>
        <% } else { %>
            <p>No results found.</p>
        <% } %>
    </section>

    <footer class="footer">
        <p>@ Team</p>
        <p>Jung_Heonju - email: wjdguswn0954@gmail.com</p>
        <p>Song_yunju - email: raminicayes@gmail.com</p>
    </footer>
    <script src="script.js"></script>
</body>
</html>